@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&family=Lora&display=swap');

$darkcolor:  rgb(38, 54, 62);

$medium: 900px;
$large: 1500px;

.page-container{
  
  width: 100%;
  margin: auto;
}


.post-description{
   
    font-family: 'Lora', serif;
}

.typeSeek-heading{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 4rem;
    padding-top: 30%;
    text-align: center;

    @media screen and (min-width: $medium) {
      font-size: 9rem;
      padding-top: 10%;
  }
    
}



  
  .text-loop-container {
    
    width: 120vw;
    margin-top: 20%;
    overflow-x: hidden;
    border-top: solid 4px black;
    border-bottom: solid 4px black;

  }
  
  .text-loop {
    width: 120%;
    display: flex;
    justify-content: space-evenly;

    h3{
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1rem;
        padding-left: 10%;
        height: 50px;
        line-height: 50px;

        @media screen and (min-width: $medium) {
          height: 80px;
        line-height: 80px;
      }
       }

  }

  .post-item{
    
    margin: auto;
    height: fit-content;
    background-color: aqua;
    transition: ease-in 0.3s;

  }

  .post-item:hover{
    transform: scale(1.05);
    border: 2px solid rgb(189, 188, 177);
  }

